$latin: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
$latin-ext: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;

@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 300; src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/opensans/300.woff2) format('woff2'); unicode-range: $latin; }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local('Open Sans'), local('OpenSans'), url(../fonts/opensans/400.woff2) format('woff2'); unicode-range: $latin; }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 600; src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/opensans/600.woff2) format('woff2'); unicode-range: $latin; }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 700; src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/opensans/700.woff2) format('woff2'); unicode-range: $latin; }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 800; src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(../fonts/opensans/800.woff2) format('woff2'); unicode-range: $latin; }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 300; src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/opensans/300-ext.woff2) format('woff2'); unicode-range: $latin-ext; }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local('Open Sans'), local('OpenSans'), url(../fonts/opensans/400-ext.woff2) format('woff2'); unicode-range: $latin-ext; }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 600; src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/opensans/600-ext.woff2) format('woff2'); unicode-range: $latin-ext; }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 700; src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/opensans/700-ext.woff2) format('woff2'); unicode-range: $latin-ext; }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 800; src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(../fonts/opensans/800-ext.woff2) format('woff2'); unicode-range: $latin-ext; }

@font-face { font-family: 'icon'; src: url('fonts/fonticon.eot?z7a2oh'); src: url('fonts/fonticon.eot?z7a2oh#iefix') format('embedded-opentype'), url('fonts/fonticon.ttf?z7a2oh') format('truetype'), url('fonts/fonticon.woff?z7a2oh') format('woff'), url('fonts/fonticon.svg?z7a2oh#icomoon') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'brand'; src: url('fonts/fontbrand.eot?qw6jj2'); src: url('fonts/fontbrand.eot?qw6jj2#iefix') format('embedded-opentype'), url('fonts/fontbrand.ttf?qw6jj2') format('truetype'), url('fonts/fontbrand.woff?qw6jj2') format('woff'), url('fonts/fontbrand.svg?qw6jj2#icomoon') format('svg'); font-weight: normal; font-style: normal; }

[class^="icon-"] {
	$icons: logo '"\e971"', menu '"\e9bd"', download '"\e960"', clover '"\e918"', phone '"\e942"', mail '"\e945"';
	$brands: bitbucket '"\e900"', github '"\e901"', linkedin '"\e902"', viadeo '"\e903"';
	@each $icon in $icons { $key: nth($icon, 1); $value: nth($icon, 2);
		&.icon-#{$key}:before { content: #{$value}; font-family: 'icon' !important; }
	}
	@each $brand in $brands { $key: nth($brand, 1); $value: nth($brand, 2);
		&.icon-#{$key}:before { content: #{$value}; font-family: 'brand' !important; }
	}
	&:before { speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
}
