*, *:after, *:before { box-sizing: border-box; outline: none; }
figure, h1, h2, h3, h4, p { margin: 0; }
ul { list-style: none; padding: 0; }

@mixin placeholder($color) {
	&::-webkit-input-placeholder { color: $color; text-transform: uppercase; }
	&:-moz-placeholder { color: $color; text-transform: uppercase; }
	&::-moz-placeholder { color: $color; text-transform: uppercase; }
	&:-ms-input-placeholder { color: $color; text-transform: uppercase; }
}

::-webkit-scrollbar { display: none; }
body { background: $light_bg; font-family: 'Open Sans', sans-serif; overflow-x: hidden; ms-overflow-style: none; width: 100%;
	&.error {
		section { min-height: 100vh; padding: 100px 15px 220px 15px; text-align: center; background: url('../imgs/background.jpg') no-repeat center center; background-size: cover; color: white;
			a { background: white; color: $dark_bg; text-decoration: none; margin-top: 30px; display: inline-block; padding: 8px 22px; text-transform: uppercase; border-radius: 2px; cursor: pointer; transition: all .5s ease-in-out;
				&:hover { background: rgba(white, .8); }
			}
		}
		footer { position: fixed; bottom: 0; left: 0; right: 0; }
	}
	header { background: url('../imgs/drawing.png') no-repeat center bottom, url('../imgs/background.jpg') no-repeat center center; background-size: 325px, cover; color: white; height: 100vh; min-height: 700px; width: 100%; position: relative;
		&:before { content: "This is not me !"; position: absolute; bottom: 230px; left: calc(50% + 170px); width: 120px; height: 20px; }
		&:after { content: ""; position: absolute; bottom: 180px; left: calc(50% + 170px); width: 40px; height: 40px; background: url('../imgs/curved_arrow.svg') no-repeat center center; background-size: contain; }
		nav { position: absolute; top: 60px; left: 50px; z-index: 3;
			span { background: white; color: $dark_bg; border-radius: 2px; padding: 8px 12px; font-size: 22px; cursor: pointer; transition: all .5s ease-in-out;
				&:hover { background: rgba(white, .8); }
			}
			ul { opacity: 0; visibility: hidden; background: rgba(white, .9); padding: 20px; margin-top: 20px; border-radius: 2px; text-transform: uppercase; font-size: 14px; position: relative; transition: all .5s ease-in-out;
				&:before { content: ""; width: 0; height: 0; position: absolute; top: -5px; left: 20px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid rgba(white, .9); }
				a { text-decoration: none; color: $dark_bg; display: block; padding: 8px 30px; text-align: center; transition: all .5s ease-in-out;
					& + a { border-top: thin dashed rgba($dark_bg, .2); }
					&:hover { background: rgba($dark_bg, .1); }
				}
			}
			&.active ul { opacity: 1; visibility: visible; }
		}
		article { width: 90%; max-width: 500px; text-align: center; margin: 0 auto; padding-top: 5vh;
			h1 { text-transform: uppercase; font-weight: 400; font-size: 42px;
				&:before { display: block; font-size: 100px; margin-bottom: 20px; }
			}
			h2 { font-size: 14px; font-weight: 100; }
			a { background: white; color: $dark_bg; text-decoration: none; margin-top: 30px; display: inline-block; padding: 8px 22px; text-transform: uppercase; border-radius: 2px; cursor: pointer; transition: all .5s ease-in-out;
				&:before { padding-right: 10px; margin-right: 10px; border-right: 1px solid $dark_bg; }
				&:hover { background: rgba(white, .8); }
			}
		}
	}
	section { padding: 100px 0;
		&:nth-child(even) h3 { color: white;
			&:before, &:after { color: rgba(white, .1); }
		}
		&:nth-child(odd) h3 { color: $dark_bg;
			&:before, &:after { color: rgba($dark_bg, .1); }
		}
		h3 { text-align: center; font-weight: 100; text-transform: uppercase; position: relative; width: 230px; margin: 0 auto 150px auto;
			&:before, &:after { content: "........."; width: 100px; height: 5px; letter-spacing: 1px; position: absolute; bottom: 38px; font-size: 30px; }
			&:before { left: 0; }
			&:after { right: 0; }
			span { color: $color; display: block; margin-top: 5px; }
		}
		&#career { background: $dark_bg; position: relative; z-index: 0;
			& > div {  width: 750px; height: 400px; margin: 0 auto; font-size: 0; text-align: center; position: relative;
				&:before { content: ""; width: 100%; height: 2px; background: white; position: absolute; top: 0; bottom: 0; margin: auto; z-index: -2; }
				& + div { margin-top: 50px;
					&:before { width: 75%; }
				}
				article { display: inline-block; width: 25%; height: 100%; position: relative; vertical-align: top;
					div.trigger { position: absolute; left: 0; width: 100%; height: calc(50% + 38px); z-index: 1000; cursor: help;
						&:hover ~ div { visibility: visible; opacity: 1; }
						& ~ div { visibility: hidden; opacity: 0; font-size: 14px; position: fixed; background: white; z-index: 999; width: 250px; height: auto; padding: 30px 15px; border-radius: 2px; transition: opacity .5s ease-in-out;
							h4, h5, p { margin: 0 0 10px 0; font-weight: 400; }
							p { font-weight: 100; font-size: 12px; }
						}
					}
					&:before { content: ""; height: calc(50% - 33px); width: 2px; background: white; position: absolute; right: 0; left: 0; margin: auto; }
					&.formation span.num { background: $color; }
					&.experience span.num { background: $second_color; }
					&:first-child:after, &:last-child:after { content: ""; width: 6px; height: 6px; display: block; position: absolute; top: 0; bottom: 0; margin: auto; background: white; border-radius: 100%; }
					&:first-child:after { left: 0; }
					&:last-child:after { right: 0; }
					&:nth-child(even) {
						&:before { bottom: 0; }
						div.trigger { bottom: 0; }
						figure { bottom: 0; padding-top: 10px;
							&:before { top: -2px; }
						}
						span.year { bottom: 0; text-align: right; padding-bottom: 60px; }
						span.num:after { top: 0; }
					}
					&:nth-child(odd) {
						&:before { top: 0; }
						div.trigger { top: 0; }
						figure { top: 0; padding-bottom: 10px;
							&:before { bottom: -2px; }
						}
						span.year { top: 0; text-align: left; padding-top: 60px; }
						span.num:after { bottom: 0; }
					}
					figure { width: 100%; height: 75px; text-align: center; position: absolute; left: 0; right: 0; margin: 0 auto; background: $dark_bg;
						&:before { content: ""; width: 6px; height: 6px; display: block; position: absolute; background: white; border-radius: 100%; left: 0; right: 0; margin: auto; }
						img { max-width: 100%; max-height: 100%; }
					}
					span.year { color: white; font-size: 14px; font-weight: 100; position: absolute; left: 0; right: 35px; height: 50%; width: 20px; margin: auto; writing-mode: vertical-lr; text-orientation: sideways; transform: rotate(180deg); }
					span.num { color: $dark_bg; border-radius: 100%; font-size: 26px; font-weight: 100; width: 50px; height: 50px; line-height: 50px; display: block; text-align: center; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;
						&:after { content: ""; width: 6px; height: 6px; display: block; position: absolute; background: white; border-radius: 100%; left: 0; right: 0; margin: -12px auto; }
						&:before { content: ""; border-radius: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; border-style: solid; border-color: transparent white; z-index: -1; border-width: 2px; transform: rotate(43.5deg); margin: -10px; background: $dark_bg; }
					}
				}
			}
		}
		&#skills {
			h3 { margin-bottom: 100px; }
			article { font-size: 0; width: 100%; max-width: 800px; margin: 0 auto; position: relative;
				& + article {
					h4 { margin-top: 50px; }
					&:before { content: ""; height: 1px; width: 100px; background: rgba($dark_bg, .1); position: absolute; top: -10px; left: 0; }
				}
				&:last-child { margin-bottom: 50px; }
				h4 { color: $color; text-transform: uppercase; font-size: 22px; font-weight: 100; margin-bottom: 30px; }
				figure { display: inline-block; vertical-align: middle; height: 50px; position: relative; text-align: center; cursor: help;  margin: 0 20px 30px 0;
					&:hover figcaption { visibility: visible; opacity: 1; }
					img { max-height: 100%; }
					figcaption { visibility: hidden; opacity: 0; position: absolute; bottom: -25px; right: -20px; left: -20px; margin: auto; font-size: 10px; text-transform: uppercase; transition: all .5s ease-in-out; }
				}
			}
		}
		&#message { background: linear-gradient(rgba($dark_bg, .5), rgba($dark_bg, .5)), url('../imgs/background.jpg') no-repeat center center; background-size: cover; background-attachment: fixed;
			h3 { margin-bottom: 100px;
				&:before, &:after { color: rgba(white, .5); }
			}
			form { width: 90%; max-width: 400px; margin: 0 auto; position: relative;
				&.error div.error_messages, &.success div.success_message { visibility: visible; opacity: 1; }
				div.error_messages, div.success_message { visibility: hidden; opacity: 0; transition: all .5s ease-in-out; font-weight: 100; position: absolute; width: 100%; padding: 20px 30px; bottom: 400px; }
				div.error_messages { background: $light_error; border: thin solid $dark_error; color: rgba(white, .8); }
				div.success_message { background: lighten($color, 5%); border: thin solid $color; color: rgba(white, .8); }
				input:-webkit-autofill { -webkit-box-shadow: 0 0 0 30px white inset; -webkit-text-fill-color: $dark_bg !important; }
				input, textarea { display: block; width: 100%; background: rgba(white, .2); border: thin solid rgba(white, .8); @include placeholder(rgba(white, .8)); font-weight: 100; color: white; padding: 10px 20px; font-size: 14px; border-radius: 2px;
					& + input, & + textarea { margin-top: 10px; }
				}
				textarea { resize: none; height: 150px; }
				input[type=submit] { width: auto; text-transform: uppercase; border-color: $color; width: 150px; background: rgba($color, .8); margin: 30px auto 0 auto; font-size: 18px; transition: all .5s ease-in-out;
					&:hover { background: $color; }
				}
			}
		}
		&#contact {
			h3 { margin-bottom: 100px; }
			div { width: 700px; margin: 0 auto; display: flex; justify-content: space-between; font-size: 0;
				article { width: 45%; background: white; border-bottom: 5px solid $color; padding: 30px 0 50px 0; text-align: center; font-size: 16px;
					h4 { text-transform: uppercase; color: $color; font-weight: 400;
						&:before { display: block; color: rgba($dark_bg, .6); margin-bottom: 20px; font-size: 18px; }
						&:after { content: ""; display: block; height: 4px; width: 30px; background: $color; margin: 20px auto 50px auto; }
					}
					a { color: rgba($dark_bg, .5); transition: all .5s ease-in-out;
						&:hover { color: rgba($dark_bg, .8); }
					}
				}
			}
			& > article { margin: 100px auto 0 auto; width: 500px; text-align: center; font-weight: 100;
				h4 { font-weight: 100; font-size: 26px; color: $dark_bg; }
				figure { width: 200px; margin: 20px auto;
					img { width: 100%; }
				}
				i { display: block; font-size: 14px; color: $dark_bg;
					a { color: $dark_bg; transition: all .5s ease-in-out;
						&:hover { color: $color; }
					}
				}
			}
		}
	}
	footer { background: $dark_bg; color: white; padding: 40px 0 100px 0;
		div { width: 90%; max-width: 900px; margin: 0 auto; display: flex; justify-content: space-between;
			article { font-size: 0;
				a { font-size: 20px; text-decoration: none; color: white; background: rgba(white, .2); width: 40px; height: 40px; line-height: 43px; border-radius: 100%; display: inline-block; text-align: center; transition: all .5s ease-in-out;
					& + a { margin-left: 5px; }
					&:hover { background: white; color: $dark_bg; }
				}
			}
			p { font-size: 14px; font-weight: 100; height: 40px; line-height: 40px;
				span { color: rgba(white, .5);
					&:before { content: "|"; display: inline-block; margin-right: 5px; }
				}
			}
		}
	}
}
