@media screen and (max-width: 500px) {
	body header:before, body header:after { display: none; }
	body section#skills { padding: 100px 20px !important;
		article figure { height: 40px; }
	}
	body section#contact > article { width: 100%; }
	body footer > div { display: block; text-align: center;
		& > * { width: 100%; }
	}
}
@media screen and (max-width: 800px) {
	body header { background-size: 40vw, cover; min-height: 500px; }
	body section#career > div { width: 100%; height: auto; margin-top: 0 !important;
		&:before { display: none; }
		article { display: block; width: 90%; max-width: 300px; margin: 0 auto;
			&:before, &:after { display: none !important; }
			div.trigger { cursor: default;
				& ~ div { visibility: visible; opacity: 1; position: relative; background: transparent; color: white; width: auto; }
			}
			span.num { position: relative; margin-bottom: 30px;
				&:after { display: none; }
			}
			figure { position: relative;
				&:before { display: none; }
			}
			span.year { position: relative; padding-top: 20px !important; writing-mode: initial; }
		}
	}
	body section#contact > div { display: block; width: 100%;
		article { margin: 0 auto; width: 280px; }
		article + article { margin-top: 30px; }
	}
}
@media screen and (max-width: 900px) {
	body header {
		&:before, &:after { left: calc(50% + 25vw); }
		h1 { font-size: 32px !important;
			&:before { font-size: 70px !important; }
		}
	}
	body section#skills { padding: 100px 50px; text-align: center;
		article + article:before { right: 0; margin: auto; }
	}
}
