$color: #26c281;
$second_color: #86fbca;
$dark_bg: #0c2335;
$light_bg: #f3f5f8;
$light_error: lighten(#d64541, 5%);
$dark_error: #d91e18;

@import 'fonts';
@import 'normalize';
@import 'main';
@import 'responsive';
